:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: rgb(148, 148, 148);
    /* color: rgba(255, 255, 255, 0.87); */
    color: rgba(0, 0, 0, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: red;
    position: fixed;
    height: 100%;
}

header section {
    background-color: gray;
    width:25vh;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section button {
    background: none;
    border: none;
    width:50px;
    height:50px;
    padding: 10px;
}

header section button:hover {
    background: rgb(161, 161, 161);
}

header section h1 {
    background-color: transparent;
    margin-right: auto;
}

nav ul li {
    list-style: none;
}

.Position {
    background-color: rgba(0, 0, 0, 0.062);
    display: flex;
}